@page
@model WebApp.Pages.Merch.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Supplier" class="control-label"></label>
                <input asp-for="Item.Supplier" class="form-control" />
                <span asp-validation-for="Item.Supplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Product" class="control-label"></label>
                <input asp-for="Item.Product" class="form-control" />
                <span asp-validation-for="Item.Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.VSN" class="control-label"></label>
                <input asp-for="Item.VSN" class="form-control" />
                <span asp-validation-for="Item.VSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Location" class="control-label"></label>
                <input asp-for="Item.Location" class="form-control" />
                <span asp-validation-for="Item.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn" style="background-color: mediumseagreen; font-size:14px;" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-page="Index" style="color: mediumseagreen;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
